.quiz-question
{  
    background-color:rgba(238, 99, 238, 0.544);
    text-align:center;
    right:100px;
    border-style:double ; 
    border-color:darkslateblue;
    border-radius:10px;
    border-width:5px;
    margin-right:150px;
    margin-left:150px;
    overflow:hidden;
    height:150px;
}

.design-question
{
    line-height:50px;
    vertical-align: middle;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align-last:center;
    
}

.quiz-answer
{
    background-color:rgba(239, 83, 239, 0.544);
    border-style:double ; 
    text-align:center;
    border-color:darkslateblue;
    border-radius:10px;
    border-width:5px;
    overflow:hidden;
    height:300px;
    margin-right:200px;
    margin-left:200px;
}

.design-answer
{
    line-height:60px;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align-last:justify;
}

ul li label
{
    cursor:pointer;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.button:hover
{
    background-color:rgba(235, 3, 235, 0.544)
}

.button:active 
{
    background-color: rgba(235, 3, 235, 0.544);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2:hover
{
    background-color:rgba(235, 3, 235, 0.544)
}

.button2:active 
{
    background-color: rgba(235, 3, 235, 0.544);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button4:hover
{
    background-color:rgba(235, 3, 235, 0.544)
}

.button4:active 
{
    background-color: rgba(235, 3, 235, 0.544);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button
{
    background-color:rgba(224, 102, 118, 0.723);
    border-style:dotted ; 
    text-align:center;
    border-color:darkslateblue;
    border-radius:10px;
    border-width:2px;
    overflow:hidden;
    width:250px;
    height:50px;
    margin-left:130px;
    cursor:pointer;
    font-size:10opx;
}

.button2
{
    background-color:rgba(224, 102, 118, 0.723);
    border-style:dotted ; 
    text-align:center;
    border-color:darkslateblue;
    border-radius:10px;
    border-width:2px;
    overflow:hidden;
    width:250px;
    height:50px;
    margin-left:155px;
    cursor:pointer;
    font-size:10opx; 
}

.button3
{
    background-color:rgba(224, 102, 118, 0.723);
    border-style:dotted ; 
    text-align:center;
    border-color:darkslateblue;
    border-radius:10px;
    border-width:3px;
    overflow:hidden;
    width:250px;
    height:50px;
    margin-left:550px;
    cursor:pointer;
    font-size:10opx; 
}

.button4
{
    background-color:rgba(224, 102, 118, 0.723);
    border-style:dotted ; 
    text-align:center;
    border-color:darkslateblue;
    border-radius:10px;
    border-width:3px;
    overflow:hidden;
    width:250px;
    height:50px;
    margin-left:130px;
    cursor:pointer;
    font-size:10opx; 
}
